<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="warn">
    <Properties>
        <Property name="pattern_console">%d{HH:mm:ss} [%t] %-5level- %msg%n</Property>
        <Property name="pattern_file">%d{HH:mm:ss.SSS} [%t] %-5level %logger{6} - %msg%n</Property>
    </Properties>

    <Appenders>
        <Console name="Console_Appender" target="SYSTEM_OUT">
            <PatternLayout pattern="${pattern_console}"/>
        </Console>
        <File name="File_Appender" filename="logs/text.log" bufferedIO="true">
            <PatternLayout pattern="${pattern_file}"/>
        </File>
    </Appenders>

    <Loggers>
        <Logger name="Log_File" level="trace" additivity="false">
            <AppenderRef ref="File_Appender"/>
        </Logger>
        <Root level="trace">
            <AppenderRef ref="File_Appender"/>
            <AppenderRef ref="Console_Appender"/>
        </Root>
    </Loggers>
</Configuration>